.cartComp{
    /* border: 2px solid firebrick; */
    text-transform: capitalize;
    margin: 10vh 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}
.cartComp h1{
/* border: 2px solid blue; */
margin: 1% 0;
}

.cartContainer{
    /* border: 2px solid black; */
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.706);
    padding: 4px 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 12px;
}

.itemImage{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    padding: 0 3px;
    margin: 0 2%;
}

.itemImage img{
    height: 70px;
    width: 70px;
    border-radius: 12px;
    padding: 3px;
}
.itemImage h2{
    /* border: 2px solid firebrick; */
    margin: 0 3px;
}
.item_price{
    /* border: 2px solid hotpink; */
    padding:  0 2%;
}
.totalPrice{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 2%;
}
.btnBtn{
    /* border: 2px solid firebrick; */
    text-align: end;
    padding: 0 2%;
}

.checkoutBtn{
    width: fit-content;
    background-color: rgb(54, 211, 37);
    padding: 9px;
    border-radius: 12px;
    border: none;
}

.checkoutBtn:hover{
    background-color:rgba(54, 211, 37, 0.447);
}

@media (max-width: 768px) {
    .cartComp h1{
        font-size: 22px;
    }
    .itemImage{
        /* border: 2px solid forestgreen; */
        width: fit-content;
    }
    .itemImage img{
        height: 60px;
    }
    .itemImage h2{
        /* border: 2px solid fuchsia; */
        width:fit-content;
        font-size: 11px;

    }
    .item_price{
        /* border: 2px solid forestgreen; */
        font-size: 12px;
    }
  .totalPrice h1{
    /* border: 2px solid firebrick; */
    font-size:22px;
  }

}