.searchCont{
    /* border: 2px solid black; */
    margin-top: 10%;
    /* display: none; */
}

@media (max-width: 768px) {

   .searchCont{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20%;
   }
}