.bodyCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.searchCont{
  /* border: 2px solid red; */
  margin-top: 120px;
}

@media (max-width: 768px) {
.searchCont{
  display: flex;
  justify-content: center;
}
}