@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.loginContainer {
    /* border: 2px solid black; */
    width: 450px;
    height: 450px;
    /* margin: auto; */
    margin-top: 120px;
    border-radius: 12px;
}

.mainsigninContainer {
    /* border: 2px solid green; */
    display: flex;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 13px;
}

.animation {
    /* border: 2px solid goldenrod; */
    background-color: darkmagenta;
    border-radius: 12px 0 0 12px;
}

.signinAnim {
    height: 440px;
}

.signinInfo {
    /* border: 2px solid grey; */
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;

}

.signinInfo h3 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.signinData {
    /* border: 2px solid firebrick; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 12px;
    padding: 4px;
}

.signinData input {
    outline: none;
    width: 100%;
    border: none;
    height: 29px;
    background-color: rgba(128, 128, 128, 0.200);
    padding: 0 6px;
}

.signinData input::placeholder {
    padding: 0 3px;
    color: white;
    text-transform: capitalize;
    opacity: 0.8;

}

.signinName,
.signinEmail,
.signinPassWord {
    /* border: 2px solid darkcyan; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.501);
    padding: 0 6px;
}

.signinButton {
    padding: 8px;
    text-transform: capitalize;
    border-radius: 7px;
    border: none;
    background-color: darkmagenta;
    color: white;
}

.endsigninData {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-size: 12px;
    text-transform: capitalize;
    text-align: center;
}

.endsigninData {
    /* border: 2px solid darkmagenta; */
    margin: 4px;
    padding: 3px;
    width: 100%;
}

.socialMediaOne {
    /* border: 2px solid black; */
    /* margin: 9px; */
    padding: 6px;
    background-color: #1DA1F2;
    color: white;
    width: 100%;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.socialMediaTwo {
    /* border: 2px solid black; */
    background-color: #4267B2;
    color: white;
    width: 100%;
    padding: 6px;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    /* border: 2px solid white; */
    padding: 2px;
    margin: 0 2px;
}

@media (max-width: 768px) {

    .loginContainer {
        width: 100%;
        border-radius: 20px;
        width: 300px;
        height: 300px;
        margin-bottom: 50%;

    }


    .mainsigninContainer {
        border: 4px solid lightcoral;
    }

    .animation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signinAnim {
        height: 200px;
    }










}