@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
.footer {
  position:relative;
  top: 30px;
  bottom: 0;
  /* border: 2px solid darkgoldenrod; */
}

.mainFooter {
  /* border: 21px solid gold; */
  margin: 2px 0;
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  background-color: rgb(2, 6, 12);
  padding: 0 10px;
}

.part1 {
  display: flex;
  flex-direction: column;
  /* border: 2px solid firebrick; */
  color: grey;
  align-items: center;
  justify-content: center;
  /* width: fit-content; */
}
.part1 img {
  /* border: 2px solid firebrick; */
  height: 120px;
  width: 120px;
}
.part1 h5{
  /* border: 2px solid rgb(65, 226, 43); */
  text-wrap:nowrap;
  /* width: min-content; */
}
.part2,.part3,.part4{
  /* border: 2px solid hotpink; */
  /* width: fit-content; */
}

.part2 ul li{
  /* border: 2px solid forestgreen; */
  text-wrap: nowrap;
  font-size: 14px;
}
 
.footerHeading h3 {
  /* border: 2px solid darkgreen; */
  text-transform: capitalize;
  color: white;
  font-family: "Barlow", sans-serif;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-wrap:nowrap;
}

.footerList {
  margin: 2px;
  /* border: 2px solid fuchsia; */
  list-style: none;
  padding: 5px;
  text-transform: capitalize;
  color: rgb(232, 230, 230);
  font-family: "Inconsolata", monospace;
  text-align: center;
  font-style: oblique;
  font-weight: 900;
}

.footerList li {
  /* border: 2px solid darkturquoise; */
  padding: 6px;
  margin: 5px;
}

.footerList li:hover {
  color: rgb(90, 86, 86);
}

@media (max-width: 768px) {
  .mainFooter {
    border: 2px solid white;
    padding: 0 6px;
  }
  .part1 {
    /* border: 2px solid firebrick; */
    width: fit-content;
  }
  .part1 img {
    /* border: 2px solid red; */
    height: 90px;
    width:90px;
    /* width: fit-content; */
  }
  .part1 h5{
    /* border:2px solid forestgreen; */
    text-wrap:wrap;
    font-size:small;
    text-align: center;
  }
  .footerHeading{
    width: fit-content;

  }

  .part2 h3 ,.part3 h3 , .part4 h3{
    /* border: 2px solid forestgreen; */
    margin: 4px 0;
    text-align: center;
    font-size:10px; 
  }

  .part2 ul li , .part3 ul li ,.part4 ul li{
    /* border: 2px solid darkmagenta; */
    font-size: 8px;
  }
 
  
}
