@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
.footer {
  position: relative;
  top: 30px;
  bottom: 0;
  border: 2px solid white;
}

.mainFooter {
  /* border: 2px solid gold; */
  margin: 2px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 19px;
  background-color: rgb(2, 6, 12);
}

.part1 {
  /* border: 2px solid firebrick; */
  color: grey;
  width: fit-content;
}

.part1 img {
  height: 150px;
  width: 150px;
}

.part1 h5{
  /* border: 2px solid rgb(65, 226, 43); */
  width: min-content;
}
/* 
.part2 {
  /* border: 2px solid hotpink; */
/* } * */

.footerHeading {
  margin-top: 19px;
  /* border: 2px solid darkmagenta; */
  width: min-content;
}

.footerHeading h3 {
  /* border: 2px solid darkgreen; */
  text-transform: capitalize;
  color: white;
  font-family: "Barlow", sans-serif;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.footerList {
  margin: 2px;
  /* border: 2px solid fuchsia; */
  list-style: none;
  padding: 5px;
  text-transform: capitalize;
  color: rgb(232, 230, 230);
  font-family: "Inconsolata", monospace;
  text-align: center;
  font-style: oblique;
  font-weight: 900;
}

.footerList li {
  /* border: 2px solid darkturquoise; */
  padding: 6px;
  margin: 5px;
}

.footerList li:hover {
  color: rgb(90, 86, 86);
}

@media (max-width: 768px) {
  .mainFooter {
    /* border: 2px solid white; */
    display: flex;
    gap: 0;
  }
  .part1 {
    /* border: 2px solid white; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .part1 img {
    height: 80px;
  }
  .part2 {
    /* border: 2px solid lawngreen; */
    padding: 0;
  }

  .footerHeading h3 {
    font-size: 11px;
  }

  .part3 {
    /* border: 2px solid lightcoral; */
    width: fit-content;
    margin-left: 0;
    margin-right: 0;
  }

  .part4 {
    /* border:2px solid rgb(0, 252, 134); */
    width: fit-content;
  }

  .footerList li {
    font-size: 11px;
  }
}
