/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

.header {
  /* border: 2px solid darkgoldenrod; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position:sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  height: 15vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 0 8px;
}
.header ul {
  /* border: 2px solid black; */
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  padding: 0 8px;
}
.header ul li {
  list-style-type: none;
  font-size: 20px;
  margin: auto;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  outline:none;
}
.header ul li span {
  font-family: "Montserrat", sans-serif !important;
  /* font-weight: 300 !important; */
}


.logo_image {
  height: 90px;
}

.link {
  text-decoration: none;
  color: black;
}

li:hover {
  color: rgb(255, 72, 0);
}

/* Remove focus/active state indicator */
*:focus {
  outline: none;
}

.countOfItems{
  border: 2px solid red;
  background-color: orangered;
  color: white;
  border-radius: 50%;
  padding: 0 4px;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .header {
    /* overflow-x: hidden; */
    height: 10vh;
    /* justify-content: space-around; */
    /* Adjust as needed for smaller screens */
  }
  .header ul li {
    font-size: 25px;
    /* Adjust as needed for smaller screens */
  }
  .header ul li span {
    display: none;
  }

  .logo_image {
    height: 60px;
  }
  .header ul li sup{
    display:inline;
  }
} 
