.discountBox {
  /* border: 2px solid darkgoldenrod; */
  width: 180px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
  border: 2.5px solid grey;
  border-radius: 12px;
}

.discountBox > .offerIcon {
  /* border: 2px solid red; */
  height: 80px;
  width: 50px;
}
